* {
    outline: none !important;
}

.author .author-avatar {
    width: 96px;
    height: 96px;
    filter: none;
    border-radius:100%;
    user-select:none;
    background-color:#ffffff00;
    -ms-user-select:none;
    -webkit-user-select:none;
    opacity:1;
    object-fit:cover
    -webkit-animation;
    animation: none;
}