@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 28 32% 97%;
    --foreground: 28 5% 10%;
    --card: 28 32% 97%;
    --card-foreground: 28 5% 15%;
    --popover: 28 32% 97%;
    --popover-foreground: 28 95% 10%;
    --primary: 28 100% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: -10 30% 95%;
    --muted-foreground: 28 5% 40%;
    --accent: -10 30% 90%;
    --accent-foreground: 28 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 28 5% 97%;
    --border: 28 30% 82%;
    --input: 28 30% 50%;
    --ring: 28 100% 54%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 28 28% 5%;
    --foreground: 28 5% 90%;
    --card: 28 28% 4%;
    --card-foreground: 28 5% 90%;
    --popover: 28 28% 5%;
    --popover-foreground: 28 5% 90%;
    --primary: 28 100% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 28 28% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -10 28% 15%;
    --muted-foreground: 28 5% 60%;
    --accent: -10 28% 15%;
    --accent-foreground: 28 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 28 5% 90%;
    --border: 28 28% 18%;
    --input: 28 28% 18%;
    --ring: 28 100% 54%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;

    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
    border-radius: 10px;
  }
}
