---
import MainLayout from "@layouts/main-layout.astro";
---

<MainLayout title="Home">
	<h1 class="mt-20 text-4xl font-bold">Welcome to my personal website!</h1>
	<p class="mt-4 text-lg text-gray-600 dark:text-gray-300">
		This is a simple Astro project with Tailwind CSS and Shadcn components.
	</p>
</MainLayout>
