---
import Image from "astro/components/Image.astro";

const { class: className, ...props } = Astro.props;
---

<div class={className}>
  <a class="w-fit flex items-center gap-2" href="/">
    <Image
      loading="eager"
      src="/images/profile-picture-pixelated.png"
      alt="Logo"
      width="60"
      height="60"
      class="size-[30px] rounded-lg"
    />
    <h1 class="text-2xl font-semibold leading-none tracking-tight">
      Miguel Vila<span class="pl-1 animate-blink">_</span>
    </h1>
  </a>
</div>
